.phone {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 2000;
    background-color: #21dd78;
    border-radius: 50%;
    height: 50px;
    width: 50px;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0 10px;
    color: #fff!important;
    &:hover {
    background-color: #0b723b;
      width: max-content;
      border-radius: 25px;
      color: #fff;
    }
  
    .phone__icon {
      height: 30px;
      width: 30px;
    }
  
    .phone__tooltip {
    }
  
    &:hover .phone__tooltip {
      opacity: 1;
      transform: translateY(0);
    }
  }
  