.modal-update-image {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .box-update-image {
        width: 650px;
        height: 750px;
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: #fff;
  
        header {
            font-size: x-large;
            margin-top: 15px;
            padding-bottom: 10px;
            font-weight: 600;
        }
  
        .avatar-editor {
            width: 450px !important;
            height: 450px !important;
        }
  
        .slider {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 70%;
        }
  
        .button {
            margin: 10px;
            font-weight: bold;
            height: 45px;
            border-radius: 6px;
            width: 75px;
        }
  
        .save {
            color: #fff;
        }
        .cancel {
            
        }
    }
}
