/* index.scss */

/* Tailwind directives - phải để ngoài cùng */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html[mode="light"] {
}

html[mode="dark"] {
}

:root {
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --primary: #ED1B2F;
  --primary-hover: #D11313;

  --background: #fff;
  --background-hover: #f5f5f5;
  --green: #17a74a;

  --input-border: #9a9a9a;
}

/* Giữ lại custom class SCSS */
.flex {
  display: flex;
}

.slide-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;

    &__item {
      display: flex;
      padding: 0 5px;
      place-content: center;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom: 3px solid var(--primary);
      }
    }
  }

  &__drawer {
    display: none;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: right;

    &__item {
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;

      &:hover {
        background-color: var(--background-hover);
        border-radius: 5px;
      }

      svg {
        color: var(--primary);
        &:hover {
          color: var(--primary-hover);
        }
      }
    }
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
