.chatzalo {
  position: fixed;
  right: 30px;
  bottom: 80px;
  z-index: 2000;
  background-color: #128be0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0 10px;
  &:hover {
    background-color: #0d6db7;
    width: max-content;
    border-radius: 25px;
    color: #fff;
  }

  .chatzalo__icon {
    height: 30px;
    width: 30px;
  }

  .chatzalo__tooltip {
  }

  &:hover .chatzalo__tooltip {
    opacity: 1;
    transform: translateY(0);
  }
}
