.confirm-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    &__content {
      background: white;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      max-width: 400px;
      width: 100%;
    }
  
    &__title {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
    }
  
    &__message {
      margin-bottom: 20px;
      font-size: 16px;
    }
  
    &__actions {
      display: flex;
      justify-content: space-between;
    }
  
    &__button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  
      &--confirm {
        background-color: #4CAF50; /* Màu xanh cho nút Confirm */
        color: white;
      }
  
      &--cancel {
        background-color: #f44336; /* Màu đỏ cho nút Cancel */
        color: white;
      }
    }
  }
  