@use "../../assets/css/responsive.scss" as responsive;

.footer {
  background-color: #fff;
  padding-top: 50px;
  font-size: 14px;
  color: #333;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  left: 0;
  right: 0;

  .footer__above {
    display: flex;
    position: relative;
    padding: 0 100px;

    .footer__info {
      display: flex;
      width: 20%;
      align-items: center;

      .footer__logo {
        width: 60%;

        .img__logo {
          border-radius: 50%;
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
      }

      .footer__name {
        font-size: medium;
        font-weight: 600;
      }
    }

    .footer-about {
      position: relative;
      width: 80%;
      display: flex;
      font-size: medium;
      text-align: justify;

      &__item {
        display: grid; // ✅ đặt trước nested rules
        text-align: center;

        &__title {
          font-size: large;
          font-weight: 600;
        }

        &__content {
          display: grid;
          line-height: 2;

          &:hover {
            scale: 1.1;
            font-weight: 600;
          }
        }
      }
    }
  }

  .footer__below {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

    .footer__social {
      font-size: x-large;
      padding: 0 10px;
    }
  }
}

// Responsive styles
@include responsive.mobile-small {
  .footer {
    padding-top: 20px;
  }
}

@include responsive.mobile-medium {
  .footer {
    padding-top: 30px;
  }
}

@include responsive.tablet {
  .footer {
    padding-top: 40px;
  }
}

@include responsive.laptop {
  .footer {
    padding-top: 50px;
  }
}
