// .change-password-page {
//     padding: 20px;

//     h1 {
//       font-size: 2em;
//       margin-bottom: 20px;
//     }

//     .form-group {
//       margin-bottom: 15px;

//       label {
//         display: block;
//         margin-bottom: 5px;
//         font-weight: bold;
//       }

//       input {
//         width: 100%;
//         padding: 10px;
//         border: 1px solid #ccc;
//         border-radius: 5px;
//       }
//     }

//     .submit-button {
//       display: block;
//       width: 100%;
//       padding: 10px;
//       margin-top: 20px;
//       font-size: 1em;
//       color: #fff;
//       background-color: #28a745; // Green background
//       border: none;
//       border-radius: 5px;
//       cursor: pointer;
//       transition: background-color 0.3s;

//       &:hover {
//         background-color: #218838; // Darker green on hover
//       }
//     }
//   }

.change-password-page {
  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .MuiTextField-root {
      width: 100%;
    }

    input {
      width: calc(100% - 48px); // Adjust width if needed
      padding-right: 48px; // Space for icon
    }
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745; // Green background
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #218838; // Darker green on hover
    }
  }
}
